<!-- Navigation bar -->

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="logo-brand" height=24 alt="Invie" src="img/logo.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#invie-plug">Invie Plug</a></li>
        <li><a href="#invie-app">Invie App</a></li>
        <li><a href="#safe-solution">Safety Solution</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    
  </div>
</nav>

<section id="home" class="home banner-img">

  <div class="banner-text">
    <div class="container">
    
    <div class="row">
      <div class="col-md-8 col-xs-6">
        <h1 class="banner-title">A safe house. Everything is smart.</h1>
        <h4 class="banner-description">Invie solution provides a wireless control system for itelligent house and safe electricity. Save energy, make house is under your control and protect your family.</h4>
        <button type="button" class="btn btn-primary btn-lg">Register to get information</button>
      </div>

      <div class="col-md-4 col-xs-6"></div>
    </div>

    </div>
  </div>

</section>

<section id="invie-plug" class="invie-plug">

  <div class="container plug">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <img class="product-img" alt="Invie plug and Invie app" src="img/product.png" >
      </div>

      <div class="col-md-6 col-xs-12">
        <h1 class="title-text">Invie Solution</h1>

        <ul class="key-feature">
          <li>Do not need to buy smart devices</li>
          <li>Remotely control</li>
          <li>Intelligent housekeeper</li>
          <li>Protect house electric devices from fire accident</li>
        </ul>

        <ul class="row circle-feature">
          <li class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="img/compact.svg" alt="Image">
              <div class="caption">
                <p>Compact Design</p>
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="img/wifi.svg" alt="Image">
              <div class="caption">
                <p>Wifi</p>
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="img/usb.svg" alt="Image">
              <div class="caption">
                <p>USB Charger</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr width="300px"/>

  <div class="container collection">
    <h1 class="title-text">Invie Collection</h1>
    <p class="title-description">Feel comfortable like in your house even anywhere</p>

    <div class="row list-product">

      <div class="col-md-3 col-xs-6">
        <div class="thumbnail">
            <img src="img/plug-white.png" alt="Image">
            <!--<div class="caption">
              <h3>Compact Design</h3>
            </div>-->
          </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="thumbnail">
            <img src="img/plug-red.png" alt="Image">
            <!--<div class="caption">
              <h3>Compact Design</h3>
            </div>-->
          </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="thumbnail">
            <img src="img/plug-blue.png" alt="Image">
            <!--<div class="caption">
              <h3>Compact Design</h3>
            </div>-->
          </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="thumbnail">
            <img src="img/plug-pink.png" alt="Image">
            <!--<div class="caption">
              <h3>Compact Design</h3>
            </div>-->
          </div>
      </div>
      
    </div>
  </div>

</section>


<section id="invie-app" class="invie-app">

  <div class="container">
    <h1 class="title-text">Intelligent System</h1>
    <p class="title-description">What make Invie become different? <br>Smart like be a human. Talk with Invie Bot and discover your smart house.</p>

    <div class="row">

      <div class="col-md-4 col-xs-6 left-column">
        <ol>
          <li>Everything is under your control</li>
          <li>Keep track of enegy usage</li>
          <li>Organize and manage electric devies easily</li>
          <li>Remotely control from anywhere</li>
        </ol>
      </div>

      <div class="col-md-4 col-xs-6">
        <div class="thumbnail">
            <img class="control-img" src="img/control.png" alt="Manage House">
          </div>
      </div>

      <!--<div class="col-md-3 col-xs-6">
        <div class="thumbnail">
            <img src="control.png" alt="Invie Chat">
          </div>
      </div>-->

      <div class="col-md-4 col-xs-6 right-column">
        <ol>
          <li>Talk to Invie Bot about house status</li>
          <li>Voice control to make a request or ask Invie bot</li>
          <li>Notify when something happens</li>
          <li>Give useful advice and prevent electricity accident</li>
        </ol>
      </div>
      
    </div>
  </div>

</section>

<section id="safe-solution" class="safe-solution">
  <div class="container">

  <h1 class="title-text">Make your home safer</h1>
  <div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="thumbnail">
            <!--<img src="" alt="Manage House">-->
            <div class="caption">
              <p>Realize abnormal changes and send message to user.</p>
              <p>Data analysis and give advice.</p>
            </div>
          </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="thumbnail">
            <!--<img src="" alt="Invie Chat">-->
            <div class="caption">
              <p>A guardian protect electric devices from fire accident.</p>
              <p>Automatically close circuit before accident.</p>
            </div>
          </div>
      </div>
  </div>
  </div>
</section>

<hr width="300px"/>

<section id="contact" class="contact" >

  <!--<div class="container">-->
  <!--<div class="row partner">
    <div class="col-md-3 col-xs-6">
      <div class="thumbnail">
          <a href="http://www.businesskitchen.fi/"><img src="img/businesskitchen.png" alt="Business Kitchen Oulu"></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="thumbnail">
          <a href="http://oulues.com/"><img src="img/oulues-logo.png" alt="OuluSES"></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="thumbnail">
          <a href="http://www.avantoaccelerator.com/"><img src="img/avanto.jpg" alt="Avanto Accelerator"></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="thumbnail">
          <a href="http://www.oamk.fi/"><img src="img/oamk.jpg" alt="OAMK"></a>
      </div>
    </div>
  </div>
  </div>-->

  <div class="subscribe" id="subscribe">
    <div class="container">
      <h1 class="title-text">Newsletter</h1>
      <p>Subscribe to our product to get newest information lauching product or when we completed a milestones.</p>
    
      <!--Subscribes form-->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//inviehouse.us14.list-manage.com/subscribe/post?u=436e5e0a10bc21512a8486c7e&amp;id=dc13c2b2be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Subscribe to our mailing list</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_436e5e0a10bc21512a8486c7e_dc13c2b2be" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-xs-6">
          <ul class="pages">
            <li><a href="#">Home</a></li>
            <li><a href="#invie-plug">Invie Plug</a></li>
            <li><a href="#invie-app">Invie App</a></li>
            <li><a href="#safe-solution">Safe Solution</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-md-4 col-xs-6">
          <ul class="social-media">
            <li><a>Facebook</a></li>
            <li><a>Twitter</a></li>
            <li><a>Linkedin</a></li>
          </ul>
          <p>Copyright@2016. Invie. All right reserved.</p>
        </div>

        <div class="col-md-4 col-xs-6">
          <div class="contact-list">
            <h1>Get in touch</h1>
            <ul class="">
              <li><span class="glyphicon glyphicon-map-marker"></span><span class="text">Ylioppilaantie 10, 90310 Oulu</span></li>
              <li><span class="glyphicon glyphicon-earphone"></span><span class="text">+358 44 9377336</span></li>
              <li><span class="fa fa-envelope"></span><span class="text">contact@inviehouse.com</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  
</section>

